<div class="flex flex-col items-center w-full min-h-screen bg-gradient-to-b from-green-300 to-blue-400 p-2 sm:p-6 relative">
  <div class="absolute top-2 right-2 sm:top-4 sm:right-4">
    <button (click)="goBack()" class="btn btn-outline btn-xs sm:btn-sm">
      ⬅️ Back
    </button>
  </div>

  <h1 class="text-lg sm:text-4xl lg:text-5xl font-bold text-dark drop-shadow-lg mb-4 sm:mb-16 title-font">
    🌍 Barcelona
  </h1>

  <div class="flex flex-col sm:flex-row justify-center items-center w-full max-w-[1100px] gap-3 sm:gap-6">

    <div class="relative flex flex-col items-center w-full max-w-xs sm:max-w-lg md:w-[750px] lg:w-[850px]">
      
      <div class="flex flex-wrap justify-center gap-1 sm:gap-2 p-2 bg-dark rounded-lg shadow-md mb-2 w-full max-w-xs sm:max-w-sm">
        <button class="btn btn-outline btn-xs sm:btn-sm w-auto text-xs sm:text-sm" (click)="changeDay(1)">Day 1</button>
        <button class="btn btn-outline btn-xs sm:btn-sm w-auto text-xs sm:text-sm" (click)="changeDay(2)">Day 2</button>
        <button class="btn btn-outline btn-xs sm:btn-sm w-auto text-xs sm:text-sm" (click)="changeDay(3)">Day 3</button>
        <button class="btn btn-outline btn-xs sm:btn-sm w-auto text-xs sm:text-sm" (click)="changeDay(4)">Day 4</button>
        <button class="btn btn-outline btn-xs sm:btn-sm w-auto text-xs sm:text-sm" (click)="changeDay(5)">Day 5</button>
      </div>

      <div class="flex flex-wrap gap-2 p-2 bg-dark rounded shadow mb-2">
        @for (category of categories; track category) {
          <label class="flex items-center gap-1 text-sm">
            <input type="checkbox" [value]="category" (change)="onFilterChange($event)" checked>
            {{ category | titlecase }}
          </label>
        }
      </div>

      <div class="relative w-full h-[160px] sm:h-[300px] md:h-[400px] lg:h-[500px] border-4 border-blue-600 rounded-lg shadow-lg">
        <div id="map" class="w-full h-full rounded-lg"></div>
      </div>

      <app-transport-selector (transportSelected)="selectTransport($event)"></app-transport-selector>

    </div>

    <div class="w-full sm:w-[350px] flex flex-col sm:flex-row justify-center mt-4 sm:mt-0">
      <app-carbon-footprint 
        [carbonEmissions]="carbonEmissions()" 
        [selectedTransport]="selectedTransport()">
      </app-carbon-footprint>
    </div>

  </div>
</div>
