<dialog class="modal modal-bottom sm:modal-middle" [open]="openModal()">
  <div class="modal-box w-full max-w-lg">
    <h3 class="font-bold text-lg mb-4">
      📍 Activities for {{ selectedDate | date:'longDate' }}
    </h3>

    <p class="text-sm text-gray-600 mb-4">
      {{ dayDescription() }}
    </p>

    <ul class="list-disc pl-4 space-y-2">
      @for (event of events; track event._id) {
        <li class="flex justify-between items-center bg-gray-100 p-2 rounded-md shadow-sm">
          <span>{{ event.title }}</span>
          <div class="flex space-x-2">
            <button class="btn btn-xs btn-error text-white" (click)="handleDeleteActivity(event)">🗑️</button>
          </div>
        </li>
      }
    </ul>

    <div class="modal-action justify-center">
      <button class="btn btn-primary btn-sm" (click)="close()">Close</button>
    </div>
  </div>
</dialog>
