:host nav img {
  height: 70px;
  max-height: 80px;
  width: auto;
}

:host .hero {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #ffffff 40%, #e0f2f1, #a7e4c1, #50b77a);
  padding: 4rem 2rem;
  border-radius: 10px;
}
