<footer class="w-full text-white text-base sm:text-lg py-3 px-4 md:px-8">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center text-center md:text-left">
    <!-- Enlaces -->
    <nav class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-6">
      <a href="#" class="hover:text-green-400 transition">Contact</a>
      <a routerLink="/map" class="hover:text-green-400 transition">Terms</a>
      <a routerLink="/calendar" class="hover:text-green-400 transition">Privacy</a>
    </nav>

    <!-- Derechos de autor -->
    <p class="mt-2 md:mt-0 opacity-90 text-lg sm:text-xl">© 2025 PlanItGo ECO</p>

    <!-- Redes sociales -->
    <div class="flex space-x-5 mt-3 md:mt-0">
      <a href="https://www.instagram.com/silvitui" target="_blank" rel="noopener noreferrer" class="hover:text-green-400 transition">
        <i class="fa-brands fa-instagram text-2xl"></i>
      </a>
      <a href="https://www.linkedin.com/in/silviatuiran/" target="_blank" rel="noopener noreferrer" class="hover:text-green-400 transition">
        <i class="fa-brands fa-linkedin text-2xl"></i>
      </a>
      <a href="https://github.com/Silvitui" target="_blank" rel="noopener noreferrer" class="hover:text-green-400 transition">
        <i class="fa-brands fa-github text-2xl"></i>
      </a>
    </div>
  </div>
</footer>
<!-- "noopener noreferrer, es buena práctica de seguridad que bloquea vindow.opener y evita que la nueva pestaña manipule la original"-->