<div class="flex flex-row gap-2">
  <button class="btn btn-outline btn-sm " (click)="selectTransport('walking')">🚶 Walking</button>
  <button class="btn btn-outline btn-sm " (click)="selectTransport('bike')">🚲 Bike</button>
  <button class="btn btn-outline btn-sm " (click)="selectTransport('train')">🚇 Train</button>
  <button class="btn btn-outline btn-sm " (click)="selectTransport('bus')">🚌 Bus</button>
  <button class="btn btn-outline btn-sm " (click)="selectTransport('car')">🚗 Car</button>
</div>
