<div class="flex flex-wrap justify-center gap-2 p-2 bg-white/10 backdrop-blur-lg mb-2 w-full">
  <button class="btn btn-outline btn-xs sm:btn-sm px-4 text-xs sm:text-sm" (click)="selectTransport('walking')">🚶 Walking</button>
  <button class="btn btn-outline btn-xs sm:btn-sm px-4 text-xs sm:text-sm" (click)="selectTransport('bike')">🚲 Bike</button>
  <button class="btn btn-outline btn-xs sm:btn-sm px-4 text-xs sm:text-sm" (click)="selectTransport('train')">🚇 Train</button>
  <button class="btn btn-outline btn-xs sm:btn-sm px-4 text-xs sm:text-sm" (click)="selectTransport('bus')">🚌 Bus</button>
  <button class="btn btn-outline btn-xs sm:btn-sm px-4 text-xs sm:text-sm" (click)="selectTransport('car')">🚗 Car</button>
</div>
