:host {
    .register-container {
      background: linear-gradient(to top, #ffffff 40%, #e0f2f1, #a7e4c1, #50b77a);
      min-height: 100vh;
    }
  
    .shadow-lg {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
  }
  