<div class="flex flex-col justify-center items-center w-full p-4 sm:p-6 gap-6">

  <div class="flex justify-center gap-2">
    @for (day of [1, 2, 3, 4, 5]; track day) {
      <button class="btn btn-white btn-sm px-3 text-sm font-semibold rounded-md shadow-sm" (click)="dayChange.emit(day)">
        Day {{ day }}
      </button>
    }
  </div>

 
  <div class="flex flex-col lg:flex-row w-full lg:w-[80%] gap-6">
    <div class="relative w-full lg:w-1/2 h-[300px] sm:h-[350px] md:h-[450px] lg:h-[500px] border-8 border-blue-600 rounded-lg shadow-xl">
      <div #mapContainer id="map" class="w-full h-full rounded-lg"></div>
    </div>

  
    <div class="flex flex-col justify-center w-full lg:w-1/2 h-auto bg-white bg-opacity-60 rounded-lg p-6">
      <h2 class="text-2xl font-bold text-center mb-4 text-gray-800">Your Carbon Footprint</h2>
      <app-carbon-footprint 
        [carbonEmissions]="carbonEmissions" 
        [selectedTransport]="selectedTransport">
      </app-carbon-footprint>
    </div>
  </div>

 
  <div class="bg-white bg-opacity-70 shadow-md rounded-lg p-5 w-full lg:w-[80%]">
    <h2 class="text-2xl font-bold text-center mb-4 text-gray-800">Filter Places</h2>
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 justify-center text-lg">
      @for (category of availableCategories; track category) {
        <label class="flex items-center space-x-3">
          <input type="checkbox" 
                 [checked]="selectedCategories.includes(category)" 
                 (change)="toggleCategory(category)" 
                 class="checkbox checkbox-lg" />
          <span class="text-gray-700 font-semibold">{{ category }}</span>
        </label>
      }
    </div>
  </div>
</div>
